.relative {
  position: relative;
}

.clear-search {
  position: absolute;
  right: 20px;
  top: 8px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: darkred;
  padding: 2px 3px;
  border: 1px solid darkred;
  border-radius: 5px;

}